<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Venue details</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../static/css/style.css"/>
</head>
<body>
<div th:replace="fragments/header :: header">header</div>
<div class="border"></div>
<div class="container">
    <div th:if="${venue}">
        <h1  th:text="${venue.venueName}">venuename</h1>
        <a th:href="${venue.linkMoreInfo}" href="#">More info</a>

    </div>
    <p th:unless="${venue}">No venue is chosen</p>
</div>
<div class="border"></div>
</html>