<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Venue details</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../static/css/style.css"/>
</head>
<body>
<div th:replace="fragments/header :: header">header</div>

<div class="border">
    <a th:href="@{|/venuedetailsbyindex/${prevIndex}|}" href="#" class="nextprev">&lt;</a>
</div>
<div class="container">
    <div th:if="${venue}">
        <h1 th:text="${venue.venueName}">venueTitle</h1>
        <a th:href="${venue.linkMoreInfo}" href="#">More info</a>
        <div class="icons">
        <div class="icon" th:if="${venue.hasFreeParking}"><img src="/img/freeparking.png"></div>
        <div class="icon" th:if="${venue.hasGoodFood}"><img src="/img/goodfood.png"></div>
        <div class="icon" th:if="${venue.getToddlerFriendly}"><img src="/img/toddler.png"></div>
        <div class="icon" th:if="${venue.getTeenagerFriendly}"><img src="/img/teenagers.png"></div>
        </div>

    </div>
    <p th:unless="${venue}">No valid venue is chosen</p>
</div>
<div class="border">
    <a th:href="@{|/venuedetailsbyindex/${nextIndex}|}" href="#" class="nextprev">&gt;</a>
</div>
</html>